body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: calc( 50% - ( 500px / 2) ); /* where ... is the element's height */
  right: calc( 50% - ( 500px / 2) ); /* where ... is the element's width */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 400px;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.loading-spinner{
  height: 500px;
  width: 500px;
  text-align: center;
}


.profileBody{  
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    width: 85%;
    float: right;
    transition: min-width 0.2s;
}

.buttonHelper {
  width: 60%;
  display: inline;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
}

